<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Password</title>
    <link rel="stylesheet" href="styles/finalPage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div id="section">
        <div class="content">
            <img class="arrowGirl" src="styles/TheArrowGirl.png" alt="">
            <div id="password-box">
                <img class="shy-girl" src="styles/shyGirl.jpeg" alt="">
                <div class="passBox">
                    <h5>Congratulation!🎊 <br>Collect Your Password.</h5>
                    <div class="passWord">
                      <h6 class="visibility"><%= password %> </h6>
                    </div>
                    <button>Show <i class="fa-solid fa-eye-slash"></i></button>
                </div>
            </div>
        </div>
    </div>

    <script src="styles/change.js"></script>
</body>
</html>