<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
    <div class="section">

        <div class="box">
        
            <img src="styles/cute_girl.jpeg" alt="">
            <h3>Password Generator</h3>
            <div class="form">
                <form action="/click" method="post">
                    <input type="text" name ="word" placeholder="Enter your name(without Space) : " required >
                    <button type="submit" value="submit">Generate Password</button>
                </form>
            </div>
        </div>

    </div>

    <!-- <script src="styles/script.js"></script> -->
</body>
</html>